/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color: #114a4c;
Secondary Color: #c18e8c;
 */

body {
  background-color: #edeff0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.homebanner{
  background-image: url(../img/boat2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width:100%;
  height: 650px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #71c7ec;
  color: white;
}

a {
  text-decoration: none;
  color: #114a4c;

}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 3.3;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
}

a:visited {
  /* visited link */
  color: #000;
}

a:hover {
  /* No underlining when hovering or focusing over a link */
  text-decoration: none;
  color: #fff;
}

a:focus {
  /* No underlining when hovering or focusing over a link */
  text-decoration: none;
  color: #f36b0a;
}

a:active {
  /* selected link */
  color: #bb1f1f;
}


button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(primary-color);
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button */
  padding: 20px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}



.intro-buttons{
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  }

.button__secondary {
  background-color: #F47D07;
  color: #fff;
}

.web {
  padding:4px;
  border-radius:4px;
  color: #000;
  background-color: #fff;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  background-position: center center;
  margin-top: 20px;
  padding: 20px;
  width: 250px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  border-radius: 50%;
}



.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  padding-top: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  border-radius: 15px;

}

#logosm{
  position: relative;
  top:50px;
  left: 50px;
  max-width:100%;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback*/

.grid__item {
  background-image: url("../img/orange.png");
  background-attachment: fixed;
  display: inline-block;
  width: 33%;
  border-radius: 15px;
  border-color: #F47D07;
  border-width: 20px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.grid__item {
  padding: 10px;
  width: auto;
}

.grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  /*could also be written simply like
  .grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  */
}

.images-container {
text-align: left;

}

.work_image {
  height: 150px;
  width: 100%;
}

.work_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #114a4c;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #F47D07;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  margin-bottom: 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.nepal__landmark {
  width: 400px;
  margin-right: 40px;
}

.about__body {
  max-width: 700px;
  margin: 0 auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

.contact {
  max-width: 700px;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  border-spacing: 40px 0;
}

td {
  padding: 10px 0;
  text-align: center;
}


.name-heading{
  text-align: center;
  font-size: 42px;
  color: white;
  text-shadow:2px 2px #000;
  margin-top: 0px;
}

.sub-heading{
  text-align: center;
  color: white;
  text-shadow:2px 2px #000;
}



.worktitle, .myflixtitle, .skills, .contacttitle {
  text-align: center;
  text-shadow:1px 1px #F47D07;

}

.myflix-text{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.t1{
  margin:auto;
  max-width:75%;
}

.skills{
  background-image: url("../img/temple.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width= 100%;
}
